@charset "UTF-8";

.btn-size {
    width: 160px;
}

.publish-btn {
    float: right;
}

.list-font {
    font-size: 12px;
    color: #999999;
    font-weight: normal;
}

.page-active {
    background-color: #337ab7;
    color: white;
}