<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="m">
<head th:insert="~{fragment/head :: head}">
</head>
<body>

<header th:insert="~{fragment/header :: header}"></header>

<div class="container">
    <!--消息-->
    <div class="row" th:insert="~{fragment/prompt :: prompt}"></div>

    <div class="row">
        <!--左侧栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h3><span class="iconfont icon-category"></span>&nbsp;&nbsp;发现</h3>
            </div>

            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" th:alt="${question.user.login}" width="38" height="38">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/' + ${question.id}}">
                        <h4 class="media-heading" th:text="${question.title}"></h4>
                    </a>
                     <span class="list-font">
                         <span class="iconfont icon-yuandianxiao"></span><span th:text="${question.commentCount}">12</span>个回复
                         <span class="iconfont icon-yuandianxiao"></span><span th:text="${question.viewCount}">17</span>次浏览
                         <span class="iconfont icon-yuandianxiao"></span><span th:text="${question.likeCount}">29</span>人关注
                         <span class="iconfont icon-yuandianxiao"></span><span th:text="${#calendars.format(question.createDate, 'yyyy.MM-dd HH:mm')}">2020-01-04 00:20</span>
                     </span>
                </div>
            </div>

            <!--分页条-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=${pagination.firstPage}, pageSize=${pagination.pageSize})}" aria-label="Previous">
                            <span class="iconfont icon-arrowleft"></span>
                        </a>
                    </li>

                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page-1}, pageSize=${pagination.pageSize})}" aria-label="Previous">
                            <span class="iconfont icon-zuojiantou"></span>
                        </a>
                    </li>

                    <li th:each="page: ${pagination.pages}">
                        <a th:href="@{/(page=${page}, pageSize=${pagination.pageSize})}" th:style="${page == pagination.page}?'background-color:#337ab7;color: white;':''" th:text="${page}">1</a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page+1}, pageSize=${pagination.pageSize})}" aria-label="Previous">
                            <span class="iconfont icon-youjiantou"></span>
                        </a>
                    </li>

                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage}, pageSize=${pagination.pageSize})}" aria-label="Next">
                            <span class="iconfont icon-arrowright"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--右侧栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header right-top">
                <h3>问题发起指南</h3>
                <div>
                    <ul>
                        <li>问题标题：请用精简的语言描述您发布的问题，不超过25个字</li>
                        <li>问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关资料</li>
                        <li>标签：选择一个或过个合适的标签，并使用逗号隔开；每个标签不超过10个字</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>