<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="m">
<head th:fragment="~{fragment/head :: head}"></head>
<body>

<header th:fragment="~{fragment/header :: header}"></header>

<div class="container">
    <div class="row" th:if="${error} != null">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>错误!</strong> <span th:text="${error}"></span>
        </div>
    </div>

    <div class="row">
        <!--左侧栏-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h3><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h3>
            </div>

            <form action="/publish" th:action="@{~/publish}" method="post" th:method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)：</label>
                    <input type="text" class="form-control" name="title" id="title" placeholder="简明标题">
                </div>

                <div class="form-group">
                    <label for="detail">问题补充(必填，参照问题指南)：</label>
                    <textarea class="form-control" rows="10" name="detail"></textarea>
                </div>

                <div class="form-group">
                    <label for="tags">添加标签：</label>
                    <input type="text" class="form-control" name="tags" id="tags" placeholder="标签">
                </div>
                <button type="submit" class="btn btn-info btn-size publish-btn">发布</button>
            </form>

        </div>
        <!--右侧栏-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="page-header">
                <h3>问题发起指南</h3>
                <div>
                    <ul>
                        <li>问题标题：请用精简的语言描述您发布的问题，不超过25个字</li>
                        <li>问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关资料</li>
                        <li>标签：选择一个或过个合适的标签，并使用逗号隔开；每个标签不超过10个字</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>